Options -Indexes
DirectoryIndex index.php index.html
SetEnvIf Authorization "(.+)" HTTP_AUTHORIZATION=$1

<FilesMatch "(^\.env$|^\.env\.|\.env$|^config\.(local|runtime)\.php$)">
    <IfModule mod_authz_core.c>
        Require all denied
    </IfModule>
    <IfModule !mod_authz_core.c>
        Order allow,deny
        Deny from all
    </IfModule>
</FilesMatch>

RedirectMatch 404 ^/(data|tests)(/|$)
